In [1]:
100 / 7

14.285714285714286

In [2]:
100 // 7

14

In [3]:
500 * (.2 * 1.27)

127.0

In [4]:
pi = 3.141592653589793238

In [5]:
pi

3.141592653589793

In [6]:
type(pi)

float

In [7]:
bool([])

False

In [1]:
yet_another_pun = '''Son: "Dad, can you tell me what a solar eclipse is?" Dad: "No Sun."'''

In [2]:
yet_another_pun

'Son: "Dad, can you tell me what a solar eclipse is?" Dad: "No Sun."'

In [3]:
multiline_str = """a
b"""
multiline_str

'a\nb'

In [4]:
len(multiline_str)

3

In [5]:
list(multiline_str)

['a', '\n', 'b']

In [6]:
today = "Sunday"

In [7]:
today[0]

'S'

In [8]:
today[7]

IndexError: string index out of range

In [9]:
today[-1]

'y'

In [10]:
today[1:5]

'unda'

In [11]:
today[0:-1]

'Sunda'

In [12]:
today[0:-2]

'Sund'

In [13]:
tomorrow = today.replace("Sun", "Mon")

In [14]:
tomorrow

'Monday'

In [15]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [16]:
"Sun Mon Tue Wed Thu Fri Sat".split(" ")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [17]:
the_3_musketeers = ["Athos", "Porthos", "Aramis"]
str(the_3_musketeers)

"['Athos', 'Porthos', 'Aramis']"

In [18]:
the_3_musketeers

['Athos', 'Porthos', 'Aramis']

In [21]:
fruits = ['apple', 'banana', 'cherry']
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]
a_list
#type(a_list)

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [22]:
len(a_list)

6

In [24]:
fruits.append('dates')
fruits

['apple', 'banana', 'cherry', 'dates', 'dates']

In [25]:
fruits.remove('blueberry')

ValueError: list.remove(x): x not in list

In [26]:
fruits.remove('dates')

In [27]:
fruits

['apple', 'banana', 'cherry', 'dates']

In [28]:
fruits.pop(2)
fruits

['apple', 'banana', 'dates']

In [29]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'dates'], True]

In [30]:
'pineapple' in fruits

False

In [31]:
['apple', 'banana', 'dates'] in a_list

True

In [32]:
#To combine two or more lists, use the + operator. This operation is also called concatenation.
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']
more_fruits

['apple', 'banana', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [33]:
more_fruits.pop(2)

'dates'

In [34]:
more_fruits

['apple', 'banana', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [35]:
more_fruits.remove('banana')
more_fruits

['apple', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [36]:
more_fruits.reverse()

In [37]:
more_fruits

['banana', 'dates', 'guava', 'tomato', 'pineapple', 'apple']

In [40]:
ext_list = ['banana', 'dates', 'guava', 'tomato', 'pineapple', 'apple']
picked_list = ['toyota', 'google', 'facebook', 'amazon', 'neflix', 'nvidia']
ext_list.extend(picked_list)
ext_list

['banana',
 'dates',
 'guava',
 'tomato',
 'pineapple',
 'apple',
 'toyota',
 'google',
 'facebook',
 'amazon',
 'neflix',
 'nvidia']

In [41]:
ext_list.sort()

In [42]:
ext_list

['amazon',
 'apple',
 'banana',
 'dates',
 'facebook',
 'google',
 'guava',
 'neflix',
 'nvidia',
 'pineapple',
 'tomato',
 'toyota']

In [43]:
num_list = [3,4,12,56,7,8,12,45,0,34,3456,23]
num_list

[3, 4, 12, 56, 7, 8, 12, 45, 0, 34, 3456, 23]

In [44]:
num_list = [3,4,12,56,7,8,12,45,0,34,3456,23]
num_list.sort(reverse=False)
num_list

[0, 3, 4, 7, 8, 12, 12, 23, 34, 45, 56, 3456]

In [46]:
num_list.sort(reverse=True)
num_list

[3456, 56, 45, 34, 23, 12, 12, 8, 7, 4, 3, 0]

In [47]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'dates'], True]

In [56]:
a_list[2 : len(a_list)]
#len(a_list)

[None, 3.14, ['apple', 'banana', 'dates'], True]

In [58]:
a_list[22: 20]

[]

In [59]:
a_list[:5]

[23, 'hello', None, 3.14, ['apple', 'banana', 'dates']]

In [60]:
a_list[3:]

[3.14, ['apple', 'banana', 'dates'], True]

In [61]:
a_list[:]

[23, 'hello', None, 3.14, ['apple', 'banana', 'dates'], True]

In [63]:
a_list[-2:-5]

[]

In [64]:
a_list[-5:-2]

['hello', None, 3.14]

In [72]:
a_tuple = 23, "hello", False, None, 23, 37, "hello"
help(a_tuple.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.tuple instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [74]:
a_tuple.index(None)

3

In [75]:
person1 = {
        'name': 'John Doe',
        'sex': 'Male',
        'age': 32,
        'married': True
    }

In [76]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [77]:
list(person1)

['name', 'sex', 'age', 'married']

In [78]:
type(person1.keys())

dict_keys

In [80]:
person1[list(person1)[1]]

'Male'

In [81]:
person2 = {'name':'John', 'gender':'Male', 'addr':'Japan', 'addr':'Chengdu'}

In [82]:
person2

{'name': 'John', 'gender': 'Male', 'addr': 'Chengdu'}

In [83]:
person3 = person2
person3['name'] = 'Jiangjiefeng'

In [84]:
person3

{'name': 'Jiangjiefeng', 'gender': 'Male', 'addr': 'Chengdu'}

In [85]:
person2

{'name': 'Jiangjiefeng', 'gender': 'Male', 'addr': 'Chengdu'}

In [86]:
person4 = person2.copy()
person4['gender'] = 'unknown'

In [87]:
person4

{'name': 'Jiangjiefeng', 'gender': 'unknown', 'addr': 'Chengdu'}

In [88]:
person2

{'name': 'Jiangjiefeng', 'gender': 'Male', 'addr': 'Chengdu'}

In [93]:
property1 = {'car':'Ford', 'deposit': 1000000}
person5 = {'name':'John', 'gender':'Male', 'property':property1, 'addr':'Chengdu'}

In [94]:
person5

{'name': 'John',
 'gender': 'Male',
 'property': {'car': 'Ford', 'deposit': 1000000},
 'addr': 'Chengdu'}

In [95]:
person5['property']['deposit']

1000000

In [99]:
x = ('name', 'gender', 'property')
y = ''
thisdict = dict.fromkeys(x, y)
thisdict

{'name': '', 'gender': '', 'property': ''}

In [100]:
person5.update({'title':'Engineer'})
person5

{'name': 'John',
 'gender': 'Male',
 'property': {'car': 'Ford', 'deposit': 1000000},
 'addr': 'Chengdu',
 'title': 'Engineer'}

In [101]:
skill_set = {'Java':'None', 'Python':'Good', 'C/C++':'Expert'}
person5.update({'Python':skill_set['Python']})
person5

{'name': 'John',
 'gender': 'Male',
 'property': {'car': 'Ford', 'deposit': 1000000},
 'addr': 'Chengdu',
 'title': 'Engineer',
 'Python': 'Good'}

In [102]:
person5.pop('Python')
person5

{'name': 'John',
 'gender': 'Male',
 'property': {'car': 'Ford', 'deposit': 1000000},
 'addr': 'Chengdu',
 'title': 'Engineer'}

In [103]:
person5.update(skill_set)
person5

{'name': 'John',
 'gender': 'Male',
 'property': {'car': 'Ford', 'deposit': 1000000},
 'addr': 'Chengdu',
 'title': 'Engineer',
 'Java': 'None',
 'Python': 'Good',
 'C/C++': 'Expert'}

In [104]:
my_books = {1:'good book', 2:'no_book', True:'be my guest'}

In [105]:
my_books

{1: 'be my guest', 2: 'no_book'}

In [111]:
another_number = 36
if another_number % 2 == 0:
    print('The given number {} is even.'.format(another_number))
else:
    print('what a wrong decision!')

The given number 36 is even.

In [114]:
line = '*'
max_length = 10

while len(line) < max_length:
    print(line)
    line += "*"
    
while len(line) > 0:
    print(line)
    line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [117]:
max_length = 6
space = '     '
line = '*'
while line.count('*') < max_length:
    print(space+line)
    space = space[:-1]
    line += '*'
while line.count('*') > 0:
    print(space+line)
    space += ' '
    line = line[:-1]

     *
    **
   ***
  ****
 *****
******
 *****
  ****
   ***
    **
     *

In [119]:
max_length = 11
space = '     '
line = '*'
while line.count('*') < max_length:
    print(space+line+space)
    space = space[:-1]
    line += '**'
while line.count('*') > 0:
    print(space+line+space)
    space += ' '
    line = line[1:-1]

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *